.login-dark {
  height: 1000px;
  background: rgb(255, 255, 255);
  /*background-size: cover;*/
  background-size:cover;
  position: relative;
}

.login-dark form {
  max-width: 50%;
  width: 100%;
  background-color: rgb(0, 0, 0,0.8);
  padding: 40px;
  padding-top: 60px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  margin-left:20% ;
}
.nuv-img{
  max-width: 50%;
  
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  padding-top: 60px;
  
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 30%;
  
  
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  ;
}

.login-dark form .btn-primary {
  background: black;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 14px;
  color: white;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
  text-decoration: white;

}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

